@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">METROSOFT ATTENDANCE APP</h1>
    <br>
    <br>
    <h4>Hello there, login to view list of users.</a>.</h4>
    <br>

    <p>"We will add more functionalities and great UI with more time."</p>
</div>
